<app-navbar></app-navbar>
<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(81, 183, 220), rgb(41, 41, 41));
    background-repeat: no repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }
</style>

<style type="text/css">
  .log1 {
    padding-top: 13%;
  }

  .input-group-addon {
    box-shadow: 9px 8px 7px #001a33;

  }
</style>

<div class="row " style="padding-top: 2%; padding-bottom:2%;

background: url(assets/files/bg6000.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover;width:100%;
  height: auto;">

  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body input-group-addon grad ">
        <form name="bankForm">
          <h2 *ngIf="!form.data.id>0" class="text-primary font-weight-bold" style="text-align: center;">{{'Add Product' |
            translate }}</h2>
          <h2 *ngIf="form.data.id>0" class="text-primary font-weight-bold" style="text-align: center;">{{'Update Product' |
            translate }}</h2>


          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          <div *ngIf="form.error && form.message != null" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          <div>
            <span class="pt-2"><b>{{'Product Name' | translate }}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-box-open grey-text"></i> </div>
                </div>
                <input type="text" name="productname" [(ngModel)]="form.data.productName" class="form-control"
                  placeholder="{{'Enter Product Name'  | translate }}">
              </div>
            </div><span *ngIf="form.inputerror.productName != null" class="alertRedColor" style=" color: red;">
              {{'productname'| translate}} </span>
            <!-- <span class="alertRedColor"> {{form.inputerror.firstName}} </span> -->
          </div>

          <div>
            <span class="pt-2"><b>{{'Quantity' | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"> </div>
                </div>
                <input type="text" name="quantity" [(ngModel)]="form.data.quantity" class="form-control"
                  placeholder="{{'Enter Quantity'  | translate }}">
              </div>
            </div><span *ngIf="form.inputerror.quantity != null" class="alertRedColor" style=" color: red;">
              {{'quantity'| translate}} </span>
            <!-- <span class="alertRedColor"> {{form.inputerror.lastName}} </span> -->
          </div>

          <div>
            <span class="pt-2"><b>{{'price' | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-dollar-sign grey-text"></i> </div>
                </div>
                <input type="text" name="price" [(ngModel)]="form.data.price" class="form-control"
                  placeholder="{{'Enter price'  | translate }}">
              </div>
            </div><span *ngIf="form.inputerror.price != null" class="alertRedColor" style=" color: red;"> {{'price'|
              translate}} </span>
            <!-- <span class="alertRedColor"> {{form.inputerror.loginId}} </span> -->
          </div>

          <div>
            <span class="pt-2"><b>{{'Payment Mode' | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-money-check-alt grey-text"></i> </div>
                </div>
                <input type="city" name="paymentMode" [(ngModel)]="form.data.paymentMode" class="form-control"
                  placeholder="{{'Enter PaymentMode'  | translate }}">
              </div>
            </div><span *ngIf="form.inputerror.paymentMode != null" class="alertRedColor" style=" color: red;">
              {{'PaymentMode'| translate}} </span>
            <!-- <span class="alertRedColor"> {{form.inputerror.password}} </span> -->
          </div>

          <div>
            <span class="pt-2"><b>{{'Status' | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-check-circle grey-text"></i> </div>
                </div>
                <input type="text" name="status" maxlength="10" [(ngModel)]="form.data.status" class="form-control"
                  placeholder="{{'Enter Status' | translate}}">
              </div>
            </div><span *ngIf="form.inputerror.status != null" class="alertRedColor" style=" color: red;"> {{'status'|
              translate}} </span>
            <!-- <span class="alertRedColor"> {{form.inputerror.phone}} </span> -->
          </div>
            <!-- <span class="alertRedColor"> {{form.inputerror.alternateMobile}} </span> -->


          <div class="row pt-2 pl-2 pb-3">

            <div class="col-md-3"></div>
 

            <div class="pt-2">
              <button *ngIf="!form.data.id>0" (click)="onUpload()" class="btn btn-success mr-2">
                {{'Save' | translate }}</button>
            </div>

            <div class="col-md-1"></div>

            <div class="pt-2">
              <button *ngIf="form.data.id>0" (click)="onUpload()" class="btn btn-success mr-2">
                {{'Update' | translate }}</button>
            </div>
            <div class="pt-2">
              <a class="btn btn-warning mr-1" type="button" [routerLink]="['/productlist']"
                  style="text-decoration: none; color: white;">{{'List' | translate }}</a>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
